{% extends "main.html" %}

{% block content%}

<div>

    <a href="{% url 'create-room' %}"> Create Room </a>
    <div>
    
        {% for room in rooms%}
            <a href="{% url 'update-room' room.id %}"> Update Room </a>

            <span>@{{room.host.username}}</span>
            <div> {{room.id}}--<a href="{% url 'room' room.id%}">{{room.name}}</a> </div>
            <small>{{room.topic.name}}</small>

            <a href="{% url 'delete-room' room.id %}"> Delete Room </a>
            <hr>
        {% endfor %}
    </div>

</div>

{% endblock content%}