{% extends "main.html" %} {% block content%}

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-container">
  <div class="grid-item">
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>

    <div class="comment-wrapper">
      <h3>Conversion</h3>
      <hr />

      {% for message in room_messages%} {% if request.user == message.user %}
      <a href="{% url 'delete-message' message.id %}">Delete</a>
      {% endif %}
      <small>@{{message.user}} {{message.created | timesince }}</small>
      <br />
      <small>{{message.body}}</small>
      <hr />
      {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here." />
      </form>
    </div>
  </div>

  <div class="grid-item">
    <h3>participants</h3>
    <hr />
    {% for user in participants %}
    <div>@{{user.username}}</div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock content%}
